body {
    font-family: lato,sans-serif;
    margin: 0;
    padding: 0;
}

#haut {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #fff;
}
#bas {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    background-color: #fff;
}

#logo-left, #logo-right, #logo-bottom {
    max-height: 100px;
    max-width: 100px;
}

#logo-left {
    margin-right: auto;
}

#logo-right {
    margin-left: auto;
}

.button {
    display: block;
    margin-top: 50px;
    padding: 10px 20px;
    background-color: #3dcd58;
}


#menu {
    width: 120px;
    height: 100vh;
    background-color: #fff;
    padding: 20px;
    float: left;
    font-size: 200%;
}

#menu ul {
    list-style-type: none;
    padding: 0;
}

#menu ul li {
    margin-bottom: 10px;
}
#menu ul li a {
    text-decoration: none;
    color: #3dcd58;
}

#menu ul li a:hover {
    color: #3dcd58;
}

.card {
    box-sizing: border-box;
    width: 190px;
    height: 190px;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid #fff;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
    flex-direction: column;
  }
  
  .card:hover {
    border: 1px solid black;
    transform: scale(1.05);
  }
  
  .card:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }


