<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>introduction (ch)</title>
    
    </head>
    <body>

        <div class="block1">
            <div class="consigne">
                Gunakan skala di bawah ini untuk menjawab pertanyaan. 
                <br>
                Jika menurut Anda deskripsi di bawah ini sangat sesuai dengan keadaan Anda, pilihlah angka 5; 
                <br>
                jika Anda merasa deskripsi tidak sesuai dengan diri Anda, pilihlah angka 0. 
                <br>
                Jika deskripsi kurang lebih sesuai dengan diri Anda, pilihlah angka di antara 0 dan 5 yang paling sesuai dengan diri Anda.
            </div>

            <div class="response1">
                <table >
                    <thead>
                        <th></th>
                        <th>0</th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Saya yakin saya akan mendapat nilai bagus di kelas ini.</td>
                            <td><input type="radio" name="a1" id="0"></td>
                            <td><input type="radio" name="a1" id="1"></td>
                            <td><input type="radio" name="a1" id="2"></td>
                            <td><input type="radio" name="a1" id="3"></td>
                            <td><input type="radio" name="a1" id="4"></td>
                            <td><input type="radio" name="a1" id="5"></td>
                        </tr>
                        <tr>
                            <td>Saya yakin saya dapat memahami materi tersulit yang disajikan dalam bacaan kursus ini.</td>
                            <td><input type="radio" name="a2" id="0"></td>
                            <td><input type="radio" name="a2" id="1"></td>
                            <td><input type="radio" name="a2" id="2"></td>
                            <td><input type="radio" name="a2" id="3"></td>
                            <td><input type="radio" name="a2" id="4"></td>
                            <td><input type="radio" name="a2" id="5"></td>
                        </tr>
                        <tr>
                            <td>Saya yakin dapat memahami konsep dasar yang diajarkan pada mata kuliah ini.</td>
                            <td><input type="radio" name="a3" id="0"></td>
                            <td><input type="radio" name="a3" id="1"></td>
                            <td><input type="radio" name="a3" id="2"></td>
                            <td><input type="radio" name="a3" id="3"></td>
                            <td><input type="radio" name="a3" id="4"></td>
                            <td><input type="radio" name="a3" id="5"></td>
                        </tr>
                        <tr>
                            <td>Saya yakin dapat memahami materi paling rumit yang disajikan dalam kursus ini.</td>
                            <td><input type="radio" name="a4" id="0"></td>
                            <td><input type="radio" name="a4" id="1"></td>
                            <td><input type="radio" name="a4" id="2"></td>
                            <td><input type="radio" name="a4" id="3"></td>
                            <td><input type="radio" name="a4" id="4"></td>
                            <td><input type="radio" name="a4" id="5"></td>
                        </tr>
                        <tr>
                            <td>Saya yakin dapat mengerjakan tugas dan ulangan mata kuliah ini dengan baik.</td>
                            <td><input type="radio" name="a5" id="0"></td>
                            <td><input type="radio" name="a5" id="1"></td>
                            <td><input type="radio" name="a5" id="2"></td>
                            <td><input type="radio" name="a5" id="3"></td>
                            <td><input type="radio" name="a5" id="4"></td>
                            <td><input type="radio" name="a5" id="5"></td>
                        </tr>
                        <tr>
                            <td>Saya berharap dapat memperoleh nilai yang baik di kelas ini.</td>
                            <td><input type="radio" name="a6" id="0"></td>
                            <td><input type="radio" name="a6" id="1"></td>
                            <td><input type="radio" name="a6" id="2"></td>
                            <td><input type="radio" name="a6" id="3"></td>
                            <td><input type="radio" name="a6" id="4"></td>
                            <td><input type="radio" name="a6" id="5"></td>
                        </tr>
                        <tr>
                            <td>Saya yakin dapat menguasai keterampilan yang diajarkan di kelas ini</td>
                            <td><input type="radio" name="a7" id="0"></td>
                            <td><input type="radio" name="a7" id="1"></td>
                            <td><input type="radio" name="a7" id="2"></td>
                            <td><input type="radio" name="a7" id="3"></td>
                            <td><input type="radio" name="a7" id="4"></td>
                            <td><input type="radio" name="a7" id="5"></td>
                        </tr>
                        <tr>
                            <td>Mengingat kesulitan kursus ini, dan keterampilan saya, saya rasa saya akan berhasil di kelas ini.</td>
                            <td><input type="radio" name="a8" id="0"></td>
                            <td><input type="radio" name="a8" id="1"></td>
                            <td><input type="radio" name="a8" id="2"></td>
                            <td><input type="radio" name="a8" id="3"></td>
                            <td><input type="radio" name="a8" id="4"></td>
                            <td><input type="radio" name="a8" id="5"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
                    
        <div class="block2">
            <div class="consigne">
                Gunakan skala di bawah ini untuk menjawab pertanyaan. 
                <br>
                Jika menurut Anda deskripsi di bawah ini sangat sesuai dengan keadaan Anda, pilihlah angka 5; 
                <br>
                jika Anda merasa deskripsi tidak sesuai dengan diri Anda, pilihlah angka 0. 
                <br>
                Jika deskripsi kurang lebih sesuai dengan diri Anda, pilihlah angka di antara 0 dan 5 yang paling sesuai dengan diri Anda.
            </div>
    
            <div class="response2">
                <table>
                    <thead>
                        <th></th>
                        <th>0</th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Selama jam pelajaran saya sering melewatkan poin-poin penting karena saya memikirkan hal lain.</td>
                            <td><input type="radio" name="b1" id="0"></td>
                            <td><input type="radio" name="b1" id="1"></td>
                            <td><input type="radio" name="b1" id="2"></td>
                            <td><input type="radio" name="b1" id="3"></td>
                            <td><input type="radio" name="b1" id="4"></td>
                            <td><input type="radio" name="b1" id="5"></td>
                        </tr>
                        <tr>
                            <td>Saat membaca, saya membuat pertanyaan untuk membantu memfokuskan bacaan saya.</td>
                            <td><input type="radio" name="b2" id="0"></td>
                            <td><input type="radio" name="b2" id="1"></td>
                            <td><input type="radio" name="b2" id="2"></td>
                            <td><input type="radio" name="b2" id="3"></td>
                            <td><input type="radio" name="b2" id="4"></td>
                            <td><input type="radio" name="b2" id="5"></td>

                        </tr>
                        <tr>
                            <td>Ketika saya bingung tentang sesuatu yang saya baca, saya kembali dan mencoba mencari tahu.</td>
                            <td><input type="radio" name="b3" id="0"></td>
                            <td><input type="radio" name="b3" id="1"></td>
                            <td><input type="radio" name="b3" id="2"></td>
                            <td><input type="radio" name="b3" id="3"></td>
                            <td><input type="radio" name="b3" id="4"></td>
                            <td><input type="radio" name="b3" id="5"></td>
                        </tr>
                        <tr>
                            <td>Jika materi pelajaran sulit dipahami, saya mengubah cara saya membaca materi.</td>
                            <td><input type="radio" name="b4" id="0"></td>
                            <td><input type="radio" name="b4" id="1"></td>
                            <td><input type="radio" name="b4" id="2"></td>
                            <td><input type="radio" name="b4" id="3"></td>
                            <td><input type="radio" name="b4" id="4"></td>
                            <td><input type="radio" name="b4" id="5"></td>
                            </tr>
                        <tr>
                            <td>Sebelum saya mempelajari materi pelajaran baru secara menyeluruh, saya sering membaca sekilas materi tersebut untuk melihat bagaimana materi tersebut disusun.</td>
                            <td><input type="radio" name="b5" id="0"></td>
                            <td><input type="radio" name="b5" id="1"></td>
                            <td><input type="radio" name="b5" id="2"></td>
                            <td><input type="radio" name="b5" id="3"></td>
                            <td><input type="radio" name="b5" id="4"></td>
                            <td><input type="radio" name="b5" id="5"></td>
                        </tr>
                        <tr>
                            <td>Saya bertanya pada diri sendiri untuk memastikan saya memahami materi yang telah saya pelajari.</td>
                            <td><input type="radio" name="b6" id="0"></td>
                            <td><input type="radio" name="b6" id="1"></td>                                
                            <td><input type="radio" name="b6" id="2"></td>
                            <td><input type="radio" name="b6" id="3"></td>
                            <td><input type="radio" name="b6" id="4"></td>
                            <td><input type="radio" name="b6" id="5"></td>
                        </tr>
                        <tr>
                            <td>Saya mencoba mengubah cara saya belajar agar sesuai dengan persyaratan kursus dan gaya mengajar instruktur.</td>
                            <td><input type="radio" name="b7" id="0"></td>
                            <td><input type="radio" name="b7" id="1"></td>
                            <td><input type="radio" name="b7" id="2"></td>
                            <td><input type="radio" name="b7" id="3"></td>
                            <td><input type="radio" name="b7" id="4"></td>
                            <td><input type="radio" name="b7" id="5"></td>
                        </tr>
                        <tr>
                            <td>Saya sering menemukan bahwa saya telah membaca untuk kelas tetapi tidak tahu apa isinya.</td>
                            <td><input type="radio" name="b8" id="0"></td>                                
                            <td><input type="radio" name="b8" id="1"></td>
                            <td><input type="radio" name="b8" id="2"></td>
                            <td><input type="radio" name="b8" id="3"></td>
                            <td><input type="radio" name="b8" id="4"></td>
                            <td><input type="radio" name="b8" id="5"></td>
                        </tr>
                        <tr>
                            <td>Saya mencoba memikirkan suatu topik dan memutuskan apa yang harus saya pelajari darinya daripada hanya membacanya saat belajar.</td>
                            <td><input type="radio" name="b9" id="0"></td>
                            <td><input type="radio" name="b9" id="1"></td>
                            <td><input type="radio" name="b9" id="2"></td>
                            <td><input type="radio" name="b9" id="3"></td>
                            <td><input type="radio" name="b9" id="4"></td>
                            <td><input type="radio" name="b9" id="5"></td>
                        </tr>
                        <tr>
                            <td>Saat belajar saya mencoba menentukan konsep mana yang kurang saya pahami dengan baik.</td>
                            <td><input type="radio" name="b10" id="0"></td>
                            <td><input type="radio" name="b10" id="1"></td>
                            <td><input type="radio" name="b10" id="2"></td>
                            <td><input type="radio" name="b10" id="3"></td>
                            <td><input type="radio" name="b10" id="4"></td>
                            <td><input type="radio" name="b10" id="5"></td>
                        </tr>
                        <tr>
                            <td>Ketika saya belajar, saya menetapkan tujuan untuk diri saya sendiri guna mengarahkan aktivitas saya di setiap masa belajar.</td>
                            <td><input type="radio" name="b11" id="0"></td>
                            <td><input type="radio" name="b11" id="1"></td>
                            <td><input type="radio" name="b11" id="2"></td>
                            <td><input type="radio" name="b11" id="3"></td>
                            <td><input type="radio" name="b11" id="4"></td>
                            <td><input type="radio" name="b11" id="5"></td>
                        </tr>
                        <tr>
                            <td>Jika saya bingung membuat catatan di kelas, saya pastikan saya memilahnya setelahnya.</td>
                            <td><input type="radio" name="b12" id="0"></td>
                            <td><input type="radio" name="b12" id="1"></td>
                            <td><input type="radio" name="b12" id="2"></td>
                            <td><input type="radio" name="b12" id="3"></td>
                            <td><input type="radio" name="b12" id="4"></td>
                            <td><input type="radio" name="b12" id="5"></td>
                        </tr>  
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>