<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>introduction (ch)</title>
</head>
<body>

    <div class="block1">
        <div class="consigne">
            Berikanlah nilai tingkat kesulitan pelajaran ini dengan menggunakan skala Likert 6 poin dimulai dari.
        </div>

        <div class="response1">
            <table border="1px">
                <thead>
                    <th>0 berarti sangat mudah sekali hingga</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5 sangat sulit sekali</th>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="radio" name="c1" id="0"></td>
                        <td><input type="radio" name="c1" id="1"></td>
                        <td><input type="radio" name="c1" id="2"></td>
                        <td><input type="radio" name="c1" id="3"></td>
                        <td><input type="radio" name="c1" id="4"></td>
                        <td><input type="radio" name="c1" id="5"></td>
                    </tr>
                </tbody>
            </table>
        </div>
                    
        <div class="block2">
            <div class="consigne">
                Gunakan skala 5 poin untuk mengukur kegunaan dari feedback selama kuis:
            </div>
    
            <div class="response2">
                <table border="1px">
                    <thead>
                        <th></th>
                        <th>0 Tidak setuju sama sekali</th>
                        <th>1 Tidak setuju</th>
                        <th>2 Netral</th>
                        <th>3 Cukup setuju</th>
                        <th>4 Sangat setuju</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Feedback yang menunjukkan kesalahan saya, efektif mendukung pembelajaran saya.</td>
                            <td><input type="radio" name="d1" id="0"></td>
                            <td><input type="radio" name="d1" id="1"></td>
                            <td><input type="radio" name="d1" id="2"></td>
                            <td><input type="radio" name="d1" id="3"></td>
                            <td><input type="radio" name="d1" id="4"></td>
                        </tr>
                        <tr>
                            <td>Feedback yang menunjukkan bahwa jawaban saya benar, efektif dalam mendukung pembelajaran saya.</td>
                            <td><input type="radio" name="d2" id="0"></td>
                            <td><input type="radio" name="d2" id="1"></td>
                            <td><input type="radio" name="d2" id="2"></td>
                            <td><input type="radio" name="d2" id="3"></td>
                            <td><input type="radio" name="d2" id="4"></td>
                        </tr>
                        <tr>
                            <td>Saya telah membaca feedback dengan saksama pada poin-poin yang saya jawab dengan salah.</td>
                            <td><input type="radio" name="d3" id="0"></td>
                            <td><input type="radio" name="d3" id="1"></td>
                            <td><input type="radio" name="d3" id="2"></td>
                            <td><input type="radio" name="d3" id="3"></td>
                            <td><input type="radio" name="d3" id="4"></td>
                        </tr>
                        <tr>
                            <td>Saya telah membaca feedback dengan saksama pada poin-poin yang saya jawab dengan benar.</td>
                            <td><input type="radio" name="d4" id="0"></td>
                            <td><input type="radio" name="d4" id="1"></td>
                            <td><input type="radio" name="d4" id="2"></td>
                            <td><input type="radio" name="d4" id="3"></td>
                            <td><input type="radio" name="d4" id="4"></td>
                        </tr>
                        <tr>
                            <td>Saya telah membaca dengan saksama feedback yang diberikan kepada saya.</td>
                            <td><input type="radio" name="d5" id="0"></td>
                            <td><input type="radio" name="d5" id="1"></td>
                            <td><input type="radio" name="d5" id="2"></td>
                            <td><input type="radio" name="d5" id="3"></td>
                            <td><input type="radio" name="d5" id="4"></td>
                        </tr>
                        <tr>
                            <td>Secara keseluruhan, feedback yang diberikan pada kuis sangat berguna.</td>
                            <td><input type="radio" name="d6" id="0"></td>
                            <td><input type="radio" name="d6" id="1"></td>
                            <td><input type="radio" name="d6" id="2"></td>
                            <td><input type="radio" name="d6" id="3"></td>
                            <td><input type="radio" name="d6" id="4"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="block3">
            <div class="consigne">
                Pilihlah jawaban yang paling mendeskripsikan anda melalui pernyataan-pernyataan berikut ini: Skala Likert 5 poin:
            </div>
    
            <div class="response3">
                <table border="1px">
                    <thead>
                        <th></th>
                        <th>1 = Sangat tidak tepat</th>
                        <th>2 = Tidak tepat</th>
                        <th>3 = Netral </th>
                        <th>4 = Tepat</th>
                        <th>5 = Sangat tepat sekali</th>
                    </thead>
                    <div>Kepercayaan Diri</div>
                    <tbody>
                        <tr>
                            <td>Dengan mengikuti pembelajaran ini, saya yakin dapat mempelajari materi pembelajaran.</td>
                            <td><input type="radio" name="e1" id="1"></td>
                            <td><input type="radio" name="e1" id="2"></td>
                            <td><input type="radio" name="e1" id="3"></td>
                            <td><input type="radio" name="e1" id="4"></td>
                            <td><input type="radio" name="e1" id="5"></td>
                        </tr>
                        <tr>
                            <td>Setelah mengikuti pembelajaran ini untuk sementara waktu, saya yakin bahwa saya mampu lulus tes.</td>
                            <td><input type="radio" name="e2" id="1"></td>
                            <td><input type="radio" name="e2" id="2"></td>
                            <td><input type="radio" name="e2" id="3"></td>
                            <td><input type="radio" name="e2" id="4"></td>
                            <td><input type="radio" name="e2" id="5"></td>
                        </tr>
                        <tr>
                            <td>Struktur materi yang baik memberi saya kepercayaan diri pada kapasitas diri saya untuk memahami materi ini.</td>
                            <td><input type="radio" name="e3" id="1"></td>
                            <td><input type="radio" name="e3" id="2"></td>
                            <td><input type="radio" name="e3" id="3"></td>
                            <td><input type="radio" name="e3" id="4"></td>
                            <td><input type="radio" name="e3" id="5"></td>
                        </tr>
                        <div>Perhatian</div>
                        <tr>
                            <td>Kualitas penulisan menarik perhatian saya.</td>
                            <td><input type="radio" name="e4" id="1"></td>
                            <td><input type="radio" name="e4" id="2"></td>
                            <td><input type="radio" name="e4" id="3"></td>
                            <td><input type="radio" name="e4" id="4"></td>
                            <td><input type="radio" name="e4" id="5"></td>
                        </tr>
                        <tr>
                            <td>Cara penyajian informasi di halamannya membantu menjaga fokus saya pada pembelajaran.</td>
                            <td><input type="radio" name="e5" id="1"></td>
                            <td><input type="radio" name="e5" id="2"></td>
                            <td><input type="radio" name="e5" id="3"></td>
                            <td><input type="radio" name="e5" id="4"></td>
                            <td><input type="radio" name="e5" id="5"></td>
                        </tr>
                        <tr>
                            <td>Variasi bacaan, latihan, ilustrasi, dan sebagainya membuat saya tetap memperhatikan pelajaran.</td>
                            <td><input type="radio" name="e6" id="1"></td>
                            <td><input type="radio" name="e6" id="2"></td>
                            <td><input type="radio" name="e6" id="3"></td>
                            <td><input type="radio" name="e6" id="4"></td>
                            <td><input type="radio" name="e6" id="5"></td>
                        </tr>
                        <div>Kepuasan</div>
                        <tr>
                            <td>Saya sangat menikmati pelajaran ini sehingga saya ingin mengetahui lebih banyak mengenai topik ini.</td>
                            <td><input type="radio" name="e7" id="1"></td>
                            <td><input type="radio" name="e7" id="2"></td>
                            <td><input type="radio" name="e7" id="3"></td>
                            <td><input type="radio" name="e7" id="4"></td>
                            <td><input type="radio" name="e7" id="5"></td>
                        </tr>
                        <tr>
                            <td>Saya sangat menikmati pelajaran ini.</td>
                            <td><input type="radio" name="e8" id="1"></td>
                            <td><input type="radio" name="e8" id="2"></td>
                            <td><input type="radio" name="e8" id="3"></td>
                            <td><input type="radio" name="e8" id="4"></td>
                            <td><input type="radio" name="e8" id="5"></td>
                        </tr>
                        <tr>
                            <td>Saya senang mengerjakan pelajaran yang disusun dengan baik.</td>
                            <td><input type="radio" name="e9" id="1"></td>
                            <td><input type="radio" name="e9" id="2"></td>
                            <td><input type="radio" name="e9" id="3"></td>
                            <td><input type="radio" name="e9" id="4"></td>
                            <td><input type="radio" name="e9" id="5"></td>
                        </tr>
                        <div>Relevansi</div>
                        <tr>
                            <td>Terdapat banyak cerita, gambar, atau contoh yang menunjukkan kepada saya betapa pentingnya materi ini bagi sebagian orang.</td>
                            <td><input type="radio" name="e10" id="1"></td>
                            <td><input type="radio" name="e10" id="2"></td>
                            <td><input type="radio" name="e10" id="3"></td>
                            <td><input type="radio" name="e10" id="4"></td>
                            <td><input type="radio" name="e10" id="5"></td>
                        </tr>
                        <tr>
                            <td>Isi konten dan gaya penulisan pelajaran ini memberikan kesan bahwa isinya layak untuk diketahui.</td>
                            <td><input type="radio" name="e11" id="1"></td>
                            <td><input type="radio" name="e11" id="2"></td>
                            <td><input type="radio" name="e11" id="3"></td>
                            <td><input type="radio" name="e11" id="4"></td>
                            <td><input type="radio" name="e11" id="5"></td>
                        </tr>
                        <tr>
                            <td>Konten pelajaran ini akan berguna bagi saya di masa mendatang.</td>
                            <td><input type="radio" name="e12" id="1"></td>
                            <td><input type="radio" name="e12" id="2"></td>
                            <td><input type="radio" name="e12" id="3"></td>
                            <td><input type="radio" name="e12" id="4"></td>
                            <td><input type="radio" name="e12" id="5"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="block4">
            <div class="consigne">
                Gunakan skala di bawah ini untuk menjawab pertanyaan. 
                <br>
                Jika menurut Anda deskripsi di bawah ini sangat sesuai dengan keadaan Anda, pilihlah angka 5;
                <br> 
                jika Anda merasa deskripsi tidak sesuai dengan diri Anda, pilihlah angka 0. 
                <br>
                Jika deskripsi kurang lebih sesuai dengan diri Anda, pilihlah angka di antara 0 dan 5 yang paling sesuai dengan diri Anda.
            </div>
    
            <div class="response4">
                <table border="1px">
                    <thead>
                        <th></th>
                        <th>0</th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Saya yakin saya akan mendapat nilai bagus pada mata kuliah ketenagalistrikan ini.</td>
                            <td><input type="radio" name="f1" id="0"></td>
                            <td><input type="radio" name="f1" id="1"></td>
                            <td><input type="radio" name="f1" id="2"></td>
                            <td><input type="radio" name="f1" id="3"></td>
                            <td><input type="radio" name="f1" id="4"></td>
                            <td><input type="radio" name="f1" id="5"></td>
                        </tr>
                        <tr>
                            <td>Saya yakin dapat memahami materi tersulit yang disajikan dalam bacaan mata kuliah ketenagalistrikan ini.</td>
                            <td><input type="radio" name="f2" id="0"></td>
                            <td><input type="radio" name="f2" id="1"></td>
                            <td><input type="radio" name="f2" id="2"></td>
                            <td><input type="radio" name="f2" id="3"></td>
                            <td><input type="radio" name="f2" id="4"></td>
                            <td><input type="radio" name="f2" id="5"></td>
                        </tr>
                        <tr>
                            <td>Saya yakin dapat memahami konsep dasar yang diajarkan pada mata kuliah kelistrikan ini.</td>
                            <td><input type="radio" name="f3" id="0"></td>
                            <td><input type="radio" name="f3" id="1"></td>
                            <td><input type="radio" name="f3" id="2"></td>
                            <td><input type="radio" name="f3" id="3"></td>
                            <td><input type="radio" name="f3" id="4"></td>
                            <td><input type="radio" name="f3" id="5"></td>
                        </tr>
                        <tr>
                            <td>Saya yakin dapat memahami materi tersulit yang disampaikan pada mata kuliah ketenagalistrikan ini.</td>
                            <td><input type="radio" name="f4" id="0"></td>
                            <td><input type="radio" name="f4" id="1"></td>
                            <td><input type="radio" name="f4" id="2"></td>
                            <td><input type="radio" name="f4" id="3"></td>
                            <td><input type="radio" name="f4" id="4"></td>
                            <td><input type="radio" name="f4" id="5"></td>
                        </tr>
                        <tr>
                            <td>Saya yakin dapat mengerjakan tugas dan ulangan mata kuliah ketenagalistrikan ini dengan baik.</td>
                            <td><input type="radio" name="f5" id="0"></td>
                            <td><input type="radio" name="f5" id="1"></td>
                            <td><input type="radio" name="f5" id="2"></td>
                            <td><input type="radio" name="f5" id="3"></td>
                            <td><input type="radio" name="f5" id="4"></td>
                            <td><input type="radio" name="f5" id="5"></td>
                        </tr>
                        <tr>
                            <td>Saya berharap dapat mengerjakan mata kuliah ketenagalistrikan ini dengan baik.</td>
                            <td><input type="radio" name="f6" id="0"></td>
                            <td><input type="radio" name="f6" id="1"></td>
                            <td><input type="radio" name="f6" id="2"></td>
                            <td><input type="radio" name="f6" id="3"></td>
                            <td><input type="radio" name="f6" id="4"></td>
                            <td><input type="radio" name="f6" id="5"></td>
                        </tr>
                        <tr>
                            <td>Saya yakin dapat menguasai keterampilan yang diajarkan pada mata kuliah ketenagalistrikan ini.</td>
                            <td><input type="radio" name="f7" id="0"></td>
                            <td><input type="radio" name="f7" id="1"></td>
                            <td><input type="radio" name="f7" id="2"></td>
                            <td><input type="radio" name="f7" id="3"></td>
                            <td><input type="radio" name="f7" id="4"></td>
                            <td><input type="radio" name="f7" id="5"></td>
                        </tr>
                        <tr>
                            <td>Mengingat tingkat kesulitan kursus ini, dan keterampilan saya, saya rasa saya akan berhasil dalam kursus ketenagalistrikan ini.</td>
                            <td><input type="radio" name="f8" id="0"></td>
                            <td><input type="radio" name="f8" id="1"></td>
                            <td><input type="radio" name="f8" id="2"></td>
                            <td><input type="radio" name="f8" id="3"></td>
                            <td><input type="radio" name="f8" id="4"></td>
                            <td><input type="radio" name="f8" id="5"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="block5">
            <div class="consigne">
                Gunakan skala di bawah ini untuk menjawab pertanyaan. 
                <br>
                Jika menurut Anda deskripsi di bawah ini sangat sesuai dengan keadaan Anda, pilihlah angka 5; 
                <br>
                jika Anda merasa deskripsi tidak sesuai dengan diri Anda, pilihlah angka 0. 
                <br>
                Jika deskripsi kurang lebih sesuai dengan diri Anda, pilihlah angka di antara 0 dan 5 yang paling sesuai dengan diri Anda.
            </div>
    
            <div class="response5">
                <table border="1px">
                    <thead>
                        <th></th>
                        <th>0</th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Selama kursus kelistrikan ini saya sering melewatkan poin-poin penting karena memikirkan hal lain.</td>
                            <td><input type="radio" name="g1" id="0"></td>
                            <td><input type="radio" name="g1" id="1"></td>
                            <td><input type="radio" name="g1" id="2"></td>
                            <td><input type="radio" name="g1" id="3"></td>
                            <td><input type="radio" name="g1" id="4"></td>
                            <td><input type="radio" name="g1" id="5"></td>
                        </tr>
                        <tr>
                            <td>Saat membaca untuk kursus kelistrikan ini, saya membuat pertanyaan untuk membantu memfokuskan bacaan saya.</td>
                            <td><input type="radio" name="g2" id="0"></td>
                            <td><input type="radio" name="g2" id="1"></td>
                            <td><input type="radio" name="g2" id="2"></td>
                            <td><input type="radio" name="g2" id="3"></td>
                            <td><input type="radio" name="g2" id="4"></td>
                            <td><input type="radio" name="g2" id="5"></td>
                        </tr>
                        <tr>
                            <td>Ketika saya bingung tentang sesuatu yang saya baca untuk kursus kelistrikan ini, saya kembali dan mencoba mencari tahu.</td>
                            <td><input type="radio" name="g3" id="0"></td>
                            <td><input type="radio" name="g3" id="1"></td>
                            <td><input type="radio" name="g3" id="2"></td>
                            <td><input type="radio" name="g3" id="3"></td>
                            <td><input type="radio" name="g3" id="4"></td>
                            <td><input type="radio" name="g3" id="5"></td>
                        </tr>
                        <tr>
                            <td>Ketika materi mata kuliah kelistrikan ini sulit dipahami, saya mengubah cara membaca materi.</td>
                            <td><input type="radio" name="g4" id="0"></td>
                            <td><input type="radio" name="g4" id="1"></td>
                            <td><input type="radio" name="g4" id="2"></td>
                            <td><input type="radio" name="g4" id="3"></td>
                            <td><input type="radio" name="g4" id="4"></td>
                            <td><input type="radio" name="g4" id="5"></td>
                        </tr>
                        <tr>
                            <td>Sebelum saya mempelajari materi kursus kelistrikan ini secara menyeluruh, saya membaca sekilas terlebih dahulu untuk melihat bagaimana penyusunannya.</td>
                            <td><input type="radio" name="g5" id="0"></td>
                            <td><input type="radio" name="g5" id="1"></td>
                            <td><input type="radio" name="g5" id="2"></td>
                            <td><input type="radio" name="g5" id="3"></td>
                            <td><input type="radio" name="g5" id="4"></td>
                            <td><input type="radio" name="g5" id="5"></td>
                        </tr>
                        <tr>
                            <td>Saya bertanya pada diri sendiri untuk memastikan saya memahami materi yang saya pelajari pada mata kuliah kelistrikan ini.</td>
                            <td><input type="radio" name="g6" id="0"></td>
                            <td><input type="radio" name="g6" id="1"></td>
                            <td><input type="radio" name="g6" id="2"></td>
                            <td><input type="radio" name="g6" id="3"></td>
                            <td><input type="radio" name="g6" id="4"></td>
                            <td><input type="radio" name="g6" id="5"></td>
                        </tr>
                        <tr>
                            <td>Saya mencoba mengubah cara saya belajar agar sesuai dengan persyaratan kursus kelistrikan dan gaya e-learning.</td>
                            <td><input type="radio" name="g7" id="0"></td>
                            <td><input type="radio" name="g7" id="1"></td>
                            <td><input type="radio" name="g7" id="2"></td>
                            <td><input type="radio" name="g7" id="3"></td>
                            <td><input type="radio" name="g7" id="4"></td>
                            <td><input type="radio" name="g7" id="5"></td>
                        </tr>
                        <tr>
                            <td>Saya menemukan bahwa saya telah membaca kursus kelistrikan ini tetapi tidak tahu apa isinya. </td>
                            <td><input type="radio" name="g8" id="0"></td>
                            <td><input type="radio" name="g8" id="1"></td>
                            <td><input type="radio" name="g8" id="2"></td>
                            <td><input type="radio" name="g8" id="3"></td>
                            <td><input type="radio" name="g8" id="4"></td>
                            <td><input type="radio" name="g8" id="5"></td>
                        </tr>
                        <tr>
                            <td>Saya mencoba memikirkan suatu topik dan memutuskan apa yang harus saya pelajari darinya daripada hanya membacanya ketika belajar untuk kursus kelistrikan ini.</td>
                            <td><input type="radio" name="g9" id="0"></td>
                            <td><input type="radio" name="g9" id="1"></td>
                            <td><input type="radio" name="g9" id="2"></td>
                            <td><input type="radio" name="g9" id="3"></td>
                            <td><input type="radio" name="g9" id="4"></td>
                            <td><input type="radio" name="g9" id="5"></td>
                        </tr>
                        <tr>
                            <td>Saat belajar mata kuliah kelistrikan ini saya mencoba mencari tahu konsep mana yang kurang saya pahami dengan baik.</td>
                            <td><input type="radio" name="g10" id="0"></td>
                            <td><input type="radio" name="g10" id="1"></td>
                            <td><input type="radio" name="g10" id="2"></td>
                            <td><input type="radio" name="g10" id="3"></td>
                            <td><input type="radio" name="g10" id="4"></td>
                            <td><input type="radio" name="g10" id="5"></td>
                        </tr>
                        <tr>
                            <td>Ketika saya belajar mata kuliah ketenagalistrikan, saya menetapkan tujuan untuk diri saya sendiri agar dapat mengarahkan aktivitas saya di setiap masa studi.</td>
                            <td><input type="radio" name="g11" id="0"></td>
                            <td><input type="radio" name="g11" id="1"></td>
                            <td><input type="radio" name="g11" id="2"></td>
                            <td><input type="radio" name="g11" id="3"></td>
                            <td><input type="radio" name="g11" id="4"></td>
                            <td><input type="radio" name="g11" id="5"></td>
                        </tr>
                        <tr>
                            <td>Ketika saya bingung untuk kursus kelistrikan ini, saya berencana untuk menyelesaikannya setelahnya</td>
                            <td><input type="radio" name="g12" id="0"></td>
                            <td><input type="radio" name="g12" id="1"></td>
                            <td><input type="radio" name="g12" id="2"></td>
                            <td><input type="radio" name="g12" id="3"></td>
                            <td><input type="radio" name="g12" id="4"></td>
                            <td><input type="radio" name="g12" id="5"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
