<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>introduction (ch)</title>
</head>
<body>

    <div class="block">
        <div class="consigne">
            选择数字回答问题。如果你认为该描述非常符合你的情况，请选择 5 （完全符合我的情况）；
            <br>
            如果你认为该描述与你完全不相符，请选择 0 （完全不符合我的情况）。
            <br>
            如果该描述或多或少符合你的情况，请选择 0 到 5 之间最能描述你的数字。
        </div>

        <div class="response">
            <table border="1px">
                <thead>
                    <th></th>
                    <th>0 （完全不符合我的情况）</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5（完全符合我的情况）</th>
                </thead>
                <tbody>
                    <tr>
                        <td>1.我相信我在这门课上会取得优异的成绩。</td>
                        <td><input type="radio" name="" id=""></td>
                        <td><input type="radio" name="" id=""></td>
                        <td><input type="radio" name="" id=""></td>
                        <td><input type="radio" name="" id=""></td>
                        <td><input type="radio" name="" id=""></td>
                        <td><input type="radio" name="" id=""></td>
                    </tr>
                    <tr>
                        <td>2. 我确信我能够理解本课程阅读材料中最难的材料。</td>
                        <td><input type="radio" name="" id=""></td>
                        <td><input type="radio" name="" id=""></td>
                        <td><input type="radio" name="" id=""></td>
                        <td><input type="radio" name="" id=""></td>
                        <td><input type="radio" name="" id=""></td>
                        <td><input type="radio" name="" id=""></td>
                    </tr>
                    <tr>
                        <td>3. 我相信我能够理解本课程教授的基本概念。</td>
                        <td><input type="radio" name="" id=""></td>
                        <td><input type="radio" name="" id=""></td>
                        <td><input type="radio" name="" id=""></td>
                        <td><input type="radio" name="" id=""></td>
                        <td><input type="radio" name="" id=""></td>
                        <td><input type="radio" name="" id=""></td>
                    </tr>
                    <tr>
                        <td>4. 我相信我能够理解本课程中最复杂的材料。</td>
                        <td><input type="radio" name="" id=""></td>
                        <td><input type="radio" name="" id=""></td>
                        <td><input type="radio" name="" id=""></td>
                        <td><input type="radio" name="" id=""></td>
                        <td><input type="radio" name="" id=""></td>
                        <td><input type="radio" name="" id=""></td>
                    </tr>
                    <tr>
                        <td>5. 我相信我能够出色地完成本课程的作业和考试。</td>
                        <td><input type="radio" name="" id=""></td>
                        <td><input type="radio" name="" id=""></td>
                        <td><input type="radio" name="" id=""></td>
                        <td><input type="radio" name="" id=""></td>
                        <td><input type="radio" name="" id=""></td>
                        <td><input type="radio" name="" id=""></td>
                    </tr>
                    <tr>
                        <td>6. 我希望在这门课上取得好成绩。</td>
                        <td><input type="radio" name="" id=""></td>
                        <td><input type="radio" name="" id=""></td>
                        <td><input type="radio" name="" id=""></td>
                        <td><input type="radio" name="" id=""></td>
                        <td><input type="radio" name="" id=""></td>
                        <td><input type="radio" name="" id=""></td>
                    </tr>
                    <tr>
                        <td>7. 我确信我能够掌握本课程所教授的知识</td>
                        <td><input type="radio" name="" id=""></td>
                        <td><input type="radio" name="" id=""></td>
                        <td><input type="radio" name="" id=""></td>
                        <td><input type="radio" name="" id=""></td>
                        <td><input type="radio" name="" id=""></td>
                        <td><input type="radio" name="" id=""></td>
                    </tr>
                    <tr>
                        <td>8. 考虑到这门课的难度和我的能力，我想我会在这门课上取得好成绩。</td>
                        <td><input type="radio" name="" id=""></td>
                        <td><input type="radio" name="" id=""></td>
                        <td><input type="radio" name="" id=""></td>
                        <td><input type="radio" name="" id=""></td>
                        <td><input type="radio" name="" id=""></td>
                        <td><input type="radio" name="" id=""></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
</body>
</html>