<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Liste des fichiers CSV</title>
</head>
<body>
  <h1>Liste des fichiers CSV :</h1>
  <ul>
    <% csvFiles.forEach(file => { %>
      <li>
        <a href="/downloadCSV/<%= file %>"><%= file %></a>
      </li>
    <% }); %>
  </ul>
</body>
</html>
