<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ma Page CSV</title>
    <link href="../public/css/acceuilStyle.css"  rel="stylesheet">
</head>

<body>
    <div id="haut">
        <img id="logo-left" src="logo UGA" alt="Logo UGA">
        <img id="logo-right" src="L" alt="Logo L">
        <button class="button">deconnexion</button>
    </div>
    <div id="bas">
        <img id="logo-bottom" src="logo" alt="Logo schneider">
    </div>
    <nav id="menu">
        <ul>
            <li><a href="PageAccueilCours.html">module</a></li>
            <li><a href="PageAccueilSession.html">session</a></li>
            <li><a href="PageAccueilStat.html">stat</a></li>
        </ul>
    </nav>
    <div>
        <select id="monselect">
            <option value="valeur1">Valeur 1</option>
            <option value="valeur2" selected>Valeur 2</option>
            <option value="valeur3">Valeur 3</option>
        </select>
        <!-- a relie a du js pour que ca trie quand c'est clique-->
    </div>
    <div class="card">
        <h1>titre module</h1>
        <p>description du module</p>
    </div>

    
</body>

</html>
